<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Battle</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                <li><strong>Movie Battle</strong></li>
            </ul>
            <ul>
                <li><a href="/management" target="_blank" role="button">Management</a></li>
                <li><a href="/h2-console" target="_blank" role="button">H2 console</a></li>
                    <li><a href="/swagger-ui/index.html" target="_blank" role="button">Swagger UI</a></li>
            </ul>
        </nav>
        <ul>
            <li><a href="/hello/world" target="_blank">Hello World</a></li>
            <li><a href="/resources/_bbea171e-bb89-4d8e-8d9f-20bb96daf497.jpg" target="_blank">an image at /resources
                folder</a></li>
        </ul>
    </main>
</body>
</html>